@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
section{
    padding: 4rem 0 2rem ;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:none ;
}
header nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header nav .logo{
    width: 150px;
}
header nav .menu{
    display: flex;
    align-items: center;
}
nav .menu a{
    color: black;
    margin-left: 30px;
    position: relative;
}
nav .menu a::after{
    content: '';
    position: absolute; 
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #dd0707;
    transition: 0.4s;
}
nav .menu a:hover::after{
    width: 100%;
}
.home{
/*    max-width: 100px;*/
    margin: auto;
    min-height: 747px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-text{
    margin-left: 70%;

}
.home-text p{
    color: #fff;
    margin-bottom: 30px;
}
.btn{
    padding: 10px 30px;
    background-color: #dd0707;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #dd0707;
    transition: 0.3s;
}
.btn:hover{
    background-color: transparent;
}